<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('head', {title: 'Login'}) %>
    <link rel="stylesheet" href="/static/login.css" />
  </head>
  <body>
    <div class="login-box">
      <h1>로그인</h1>
      <p>
        참고! 정답 아이디는 <b>cocoa</b> 이고<br />
        비밀번호는 <b>1234</b> 입니다.
      </p>

      <form name="register">
        <div class="input-group mb-3">
          <span class="input-group-text" id="id">ID</span>
          <input type="text" class="form-control" aria-label="id input" aria-describedby="id" name="userid" />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="pw">PW</span>
          <input type="password" class="form-control" aria-label="pw input" aria-describedby="pw" name="pw" />
        </div>

        <button type="button" class="btn btn-dark" onclick="login()">Login</button>
        <br />
        <a href="/">Home 이동하기</a>
      </form>
    </div>
    <script>
      function login() {
        const form = document.forms["register"];

        // 유효성 검증
        if (!form.checkValidity()) {
          form.reportValidity();
          return;
        }

        axios({
          method: "post",
          url: "/login",
          data: {
            userid: form.userid.value,
            pw: form.pw.value,
          },
        })
          .then((res) => {
            console.log(res.data);
            if (res.data) {
              alert("로그인 성공");
              window.location.href = "/profile";
            } else {
              alert("로그인 실패, 아이디 비밀번호 확인");
              form.reset();
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    </script>
  </body>
</html>
