<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판 실습</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<body>
    <h2>게시글 상세</h2>
    <div th:if="${boardDetail}">
        <ul>
            <li th:text="'제목 : '+${boardDetail.getTitle()}"></li>
            <li th:text="'내용 : '+${boardDetail.getContent()}"></li>
            <li th:text="'작성자 : '+${boardDetail.getWriter()}"></li>
        </ul>
    </div>
    <div th:unless="${boardDetail}">
        <p>존재하지 않는 글입니다.</p>
    </div>
</body>
</html>