<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./includes/head',{title:'Home'}) %>
  </head>
  <body>
    <%- include('./includes/header.ejs') %>
    <h1>안녕하세요 ejs 입니다</h1>
    <img src="/static/imgs/icon3.png" alt="supermario" width="500" />
    <h2>for문 사용해보기</h2>
    <% for(let i = 0; i< 5; i++) {%>
    <p>안녕하세요</p>
    <img src="/static/imgs/icon3" alt="mario<%=i%>" />
    <% } %>
  </body>
</html>
