.d-block{
    display: none;
    background-color: aqua;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 20px;
}
.d-inline{
    display: none;
    background-color: pink;
    border: 1px solid black;
    /* width: 100px;
    height: 100px; */
    /* padding: 15px;
    margin: 20px; */
}
.d-inline-block{
    display: none;
    background-color: blueviolet;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding: 15px;
    margin: 15px;
}

.parent{
    display: none;
    width: 200px;
    /* width -> 300px : min은 400px유지, max는 같이 줄어든다 */
    /* width -> 500px : min은 400px유지, max는 같이 늘어난다 */
    height: 200px;
    background-color: red;
}

.parent > .min{
    min-width: 400px;
    height: 100px;
    background-color: orange;
}

.parent > .max{
    max-width: 400px;
    height: 100px;
    background-color: gray;
}

.box {
    background-color: gray;
    border: 1px solid black;
}

.box-px{
    width: 50px;
    height: 50px;
}
.box-vw{
    width: 50vw;
    height: 50vh;
}
/* bow-per의 부모는 body */
/* body는 기본 높이가 없다 */
.box-per{
    width: 50%;
    height: 50%;
}
.rem{
    font-size: 2rem;
}
/* em은 부모의 사이즈값을 가져온다 */
.em{
    font-size: 1.5em;
}

.square{
    display: inline-block;
    width: 100px;
    height: 100px;
    /* hover시 커서모양 변경 */
    cursor: pointer;
    background-color: blanchedalmond;
}
.border{
    background-color: aqua ;
    border: 3px solid black;
    border-style: dotted;
    border-width: 3px;
    border-color: red orange;

}
.rounded{
    background-color: aquamarine;
    border-radius: 5px 10px 15px 20px;
}

.divv{
    display: inline-block;
    background-color: brown;
    border: 3px solid black;
    width: 100px;
    height: 100px;
}
.width{
    border-width: 3px;
}
.style{
    border-style: dashed;
}
.color{
    border-color: green yellow;
}
.dire{
    border-top-left-radius: 50px;
    border-bottom-right-radius: 30px;
}

.box-sizing{
    padding: 20px;
    border: 15px solid red;
    background-color: pink;
}

.cotent-box{
    box-sizing: content-box;
}
.border-box{
    box-sizing: border-box;
}
.d-none {
    display: none;
    background-color: red;
}
.invisible {
    visibility: hidden;
    background-color: orangered;
}
.opacity-0 {
    opacity: 0.2;
    background-color : tomato
}
.test:hover{
    opacity: 0;
}

.overflow-hidden{
    overflow: hidden;
}
.overflow-auto{
    overflow: auto;
}
.overflow-scroll{
    overflow: scroll;
}
.overflow-visible{
    overflow: visible;
}
