<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form name="login-form">
      <input type="text" id="id" placeholder="아이디 입력" /><br />
      <input type="paswword" id="pw" placeholder="비밀번호 입력" /><br />
      <button type="button" onclick="login()">로그인</button>
    </form>
    <script>
      async function login() {
        // POST /login
        const form = document.forms["login-form"];
        const response = await axios({
          method: "post",
          url: "/login",
          data: {
            id: form.id.value,
            pw: form.pw.value,
          },
        });
        console.log(response.data);
        /* 
        {
            "result": true,
            "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImVpYzIwMjEiLCJpYXQiOjE3MDg1MDE1MDB9.YNdEb8lhMTk2fYAglKogcNcC2VJ0pJBSqeBPoSP_ifg"
        }
        */
        const { result, token, message } = response.data;
        // result : 로그인 성공시 true, 로그인 실패시 false
        // token : 로그인 성공시 토큰정보, 로그인 실패시 undefined
        // message : 로그인 성공시 undefined, 로그인 실패시 "로그인 정보가 올바르지 않습니다."
        if (result) {
          // 로그인 성공시 토큰을 로컬 스토리지에 저장함
          /*           
          로컬 스토리지 ?
           - 브라우저에 영구적으로 {키-값} 형태의 데이터를 저장 
           - 쿠키와 비슷하게 클라이언트에 저장. 문자형 데이터 타입만 저장 가능
           - 5KB 데이터 저장 가능(쿠키는 4KB)

           1.로컬 스토리지 토큰 저장
           localStorage.setItem("키이름1",data1); >> {키이름1:data1}
           localStorage.setItem("키이름2",data2); >> {키이름1:data1, 키이름2:data2}

           2.로컬 스토리지 토큰 삭제
           localStorage.removeItem("키이름");

           3.로컬 스토리지 토큰 가져오기
           localStroage.getItem("키이름");

           4.로컬 스토리지 전체 삭제
           localStorage.clear();
           */

          localStorage.setItem("login", token);
          document.location.href = "/";
        } else {
          // 로그인 실패시 메시지 정보 받아서 알림창 출력
          alert(message);
          // document.location.reload();
          form.reset();
          // 폼 초기화
        }
      }
    </script>
  </body>
</html>
