<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form name="login-form">
      <input type="text" id="id" placeholder="아이디 입력" /><br />
      <input type="paswword" id="pw" placeholder="비밀번호 입력" /><br />
      <button type="button" onclick="login()">로그인</button>
    </form>
    <script>
      async function login() {
        // POST /login
        const form = document.forms["login-form"];
        const response = await axios({
          method: "post",
          url: "/login",
          data: {
            id: form.id.value,
            pw: form.pw.value,
          },
        });
        console.log(response.data);
        /* 
        {
            "result": true,
            "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImVpYzIwMjEiLCJpYXQiOjE3MDg1MDE1MDB9.YNdEb8lhMTk2fYAglKogcNcC2VJ0pJBSqeBPoSP_ifg"
        }
        */
        const { result, token, message } = response.data;
      }
    </script>
  </body>
</html>
